entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Week 2"

[[workflows.workflow]]
name = "Run Part 2"
author = 46449174
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 part_2.py"

[[workflows.workflow]]
name = "Run Part 3"
author = 46449174
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 part_3.py"

[[workflows.workflow]]
name = "Run Part 4"
mode = "sequential"
author = 46449174

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 part_4.py"

[[workflows.workflow]]
name = "Run Part 5"
author = 46449174
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 part_5.py"

[[workflows.workflow]]
name = "Run Week 2"
author = 46449174
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 week_2.py"

[agent]
expertMode = true
